/* common classess */

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:6px;
}

.muted-icon{
  color:#c7ced4;
}


/* outline button */
.outline-btn{
  border:1px solid #0f1843;
  color:#0f1843;
  background-color: #fff;

}

.filled-btn{
  color:#fff;
  background-color: #0f1843;
}